@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.headerImg {
  grid-area: logo;
  padding: 0 2rem;
  height: 2.813rem;
}
.headerNav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.headerNavLink {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.headerNavLink[data-active=true] {
  color: #0065FC;
}
.headerNavLink:hover {
  color: #0065FC;
}
.headerSignup {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}

@media screen and (min-width: 601px) {
  .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }
  .headerNavLink[data-active=true] {
    border-top: 3px solid #0065FC;
  }
  .headerNavLink:hover {
    border-top: 3px solid #0065FC;
  }
}
@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .headerimg {
    order: 0;
  }
  .headerSignup {
    order: 1;
  }
  .headerNav {
    order: 2;
  }
  .headerNavLink {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
  }

  /* Si résolution < 601px */

  @media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .header-img {
      order: 0;
    }
    .header-inscription {
      order: 1;
    }
    .header-nav {
      order: 2;
    }
    .header-nav-lien {
      border-top: none;
      width: 50%;
    }
  }
  .headerNavLink:hover {
    border-bottom-color: #0065FC;
  }
}
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}


  /** RECHERCHE */

    .search-title {
      margin-bottom: 0.5rem;
    }
    .search-subtitle {
      margin-top: 0;
    }
    .search-form {
      display: inline-flex;
      max-width: 100%;
      overflow: auto;
    }
    .search-form-left {
      background-color: #F2F2F2;
      padding: 1rem 1.25rem;
      border-radius: 1rem 0 0 1rem;
      text-align: center;
    }
    .search-form-left-icon {
      margin-left: 0.1rem;
    }
    .search-form-input {
      border-right: none;
      border-left: none;
      border-top: #F2F2F2 1px solid;
      border-bottom: #F2F2F2 1px solid;
      padding: 0 1.5rem;
      box-sizing: border-box;
      width: 14rem;
      font-size: 1rem;
      font-weight: bold;
      font-family: "Raleway", "Sans serif";
    }
    .search-form-input::placeholder {
      font-family: "Raleway", "Sans serif";
      font-size: 1rem;
      color: #00000069;
    }
    .search-form-submit {
      background-color: #0065FC;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 0 1rem 1rem 0;
      padding: 0 1.5rem;
      font-family: "Raleway", "Sans serif";
      font-size: 1rem;
      cursor: pointer;
    }
    .search-form-submit-text {
      display: block;
    }
    .search-form-submit-icon {
      display: none !important;
    }
    .search-filters {
      display: flex;
      margin-top: 2rem;
      flex-wrap: wrap;
    }
    .search-filters-title {
      margin: 0 2rem 1rem 0;
      display: flex;
      align-items: center;
    }
    .search-filters-buttons {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      border: 2px solid #d9d9d9;
      border-radius: 2rem;
      margin-bottom: 1rem;
      cursor: pointer;
      transition-duration: 0.1s;
      font-weight: bold;
    }
    .search-filters-buttons:last-child {
      margin-right: 0;
    }
    .search-filters-buttons:hover {
      background-color: #f3f8ff;
    }
    .search-filters-buttons-container {
      background-color: #DEEBFF;
      border-radius: 100%;
      height: 3rem;
      width: 3rem;
      min-height: 3.5rem;
      min-width: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -2px;
    }
    .search-filters-buttons-container-icon {
      color: blue;
    }
    .search-filters-buttons-title {
      margin: 0 1rem;
    }
    .search-result {
      display: flex;
      align-items: center;
      margin: 1rem 0 2rem 0;
    }
    .search-result-container {
      height: 2rem;
      width: 2rem;
      min-height: 2rem;
      min-width: 2rem;
      border: solid 1px #d9d9d9;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
    }
    .search-result-container-icon {
      color: #0065FC;
    }
    .search-result-text {
      margin: 0;
    }

    /* Si résolution < 601px */

    @media screen and (max-width: 600px) {
      .search-form {
        display: flex;
        width: 100%;
      }
      .search-form-input {
        flex: 1;
      }
      .search-form-submit-text {
        display: none;
      }
      .search-form-submit-icon {
        display: block;
      }
    }

/** HEBERGEMENTS */

.hostingWrapper, .hostingPopular, .hosting-container {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}

  .hosting {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
  }
  .hosting-container {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .hosting-container-header {
    grid-column: 1/-1;
  }
  .hosting-container-header-title {
    margin: 0;
  }
  .hosting-container-card {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
  }

.hosting-container-card-figure {
  margin: 0;
}
.hosting-container-card-figureImg {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.hosting-container-card-figureCaptionTitle {
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.hosting-container-cardDesc {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hosting-container-cardDescPrice {
  font-weight: bold;
}
.hosting-container-cardGrade {
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.hosting-container-cardGradeIcon[data-active=true] {
  color: #0065FC;
}
.hosting-container-cardGradeIcon[data-active=false] {
  color: #d9d9d9;
}
.hosting-containerViewmore {
  font-weight: bold;
}
.hostingPopular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.hostingPopularTitle {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.hostingPopularWrapcontent {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
.hostingPopularWrapcontentWrapimg {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.hostingPopularWrapcontentWrapimgImg {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hostingPopularWrapcontentContent {
  display: flex;
  flex-direction: column;
}
.hostingPopularWrapcontentContentWhitespace {
  flex: 1;
}
.hostingPopularhostingMainCard {
  height: 8.75rem;
}

@media (max-width: 1440px) {
  .hosting {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hostingPopular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .hostingPopularTitle {
    grid-column: 1/-1;
  }
}
@media (min-width: 925px) {
  .hosting-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .hosting-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .hosting-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  .hostingPopular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}
.activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}
.activityTitle {
  grid-column: 1/-1;
}
.activityCard {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}

.activityCardWrapimg {
  position: relative;
  flex: 1;
}
.activityCardWrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityCardTitle {
  margin: 1.2rem 1.5rem;
}

@media (min-width: 1100px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1100px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
}
@media (max-width: 925px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
}
@media (max-width: 650px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}
.footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footerColumnwrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.footerColumnwrapperColumn {
  width: 30%;
  padding: 2rem 2rem;
}
.footerColumnwrapperColumnLink {
  display: block;
  margin: 1rem 0;
}
.footerColumnwrapperColumnLink:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .footerColumnwrapper {
    flex-direction: column;
    padding: 2rem;
  }
  .footerColumnwrapperColumn {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
  .footerColumnwrapperColumn:first-child {
    margin-top: 0;
  }
  .footerColumnwrapperColumn:last-child {
    margin-bottom: 0;
  }
  .footerColumnwrapperColumnTitle {
    margin: 0;
  }
  .footerColumnwrapperColumnLink:last-child {
    margin-bottom: 0;
  }
}

